<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Hackaton - project</title>
</head>
<body>

<nav class="nav-left-right">
    <div class="nav-left">
        <ul>
            <li><a href="#">Blah 1</a></li>
            <li><a href="#">Blah 2</a></li>
            <li><a href="#">Blah 3</a></li>
        </ul>
    </div>
    <div class="nav-right">
        <ul>
            <li><a href="#" title="Logout"><i class="fas fa-door-open"></i></a></li>
            <li><a href="#" title="User settings"><i class="far fa-user"></i></a></li>
        </ul>
    </div>
</nav>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <p>Created by: </p>
</footer>

</body>
</html>