{% extends "home.twig" %}

{% block content %}
<form class="col-sm-6">
        <div class="form-group">
            <label for="questName">Name</label>
            <input type="text" class="form-control" id="questName" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="questDescr">Description</label>
            <textarea class="form-control" id="questDescr" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="questAmount">Exp Value</label>
            <input type="text" class="form-control" id="questAmount" placeholder="Enter value">
        </div>
        <div class="form-group">
            <label for="questAmount">Gold Value</label>
            <input type="text" class="form-control" id="questAmount" placeholder="Enter value">
        </div>
        <div class="form-group">
            <label for="questStudent">Student</label>
            <select multiple class="form-control" id="questStudent">
                <option>-- EVERYBODY --</option>
                {% for student in students %}
                    <option>{{student.getName()}} {{student.getSurname()}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}